.pre-wrapper{
	position:relative;
}
.pre-wrapper pre{
	padding-top: 25px;
}
.pre-wrapper .copy-snippet, 
.pre-wrapper .pre-language {
	border-radius: 0;
	min-width:55px;
	background: none repeat scroll 0 0 transparent;
	border: 0px;
	color: #000;
	font-family: 'HELEVETICA',sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.42rem;
	margin: 0;
	padding: 0px 5px;
	text-align: center;
	text-decoration: none;
	text-indent: 0;
	position:absolute;
	top:0;
}
.pre-wrapper .copy-snippet {
	background:#3CE3B5;
	cursor:pointer;
	right:0;
}
.pre-wrapper .pre-language {
	background:#1DDDFF;
	right:56px;
}
.pre-wrapper .copy-snippet:disabled{
	color:#555;
}